@import './scss/bootstrap';
@import './scss/hero';
@import './scss/contect';
@import './scss/skills';
@import './scss/about';
@import './scss/projects';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-height {
  min-height: calc(100vh - 30px);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-height {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}